@import "variables";

body {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: $color-5;
    line-height: 1.5;
    word-spacing: .5rem;
    letter-spacing: .5rem;
}

.header-1 {
    font-family: 'Monoton', cursive;
    font-size: $fontsize-header-1;
    word-spacing: 2rem;
    font-weight: 400;
}

.header_2 {
    font-size: $fontsize-header-2;
     text-overflow: ellipsis;
}

.header_3 {
    font-size: $fontsize-header-3;
    margin-bottom: $marginbottom-small ;
     text-overflow: ellipsis; 
}

.paragraph {
    margin-bottom: 1.5rem;

    &_red {
        color:red;
    }
}
