//Colors :Peperoni pizza
$color-1: #702424;
$color-2: #981515;
$color-3: #df3636;
$color-4: #ff6500;
$color-5: #f5efdb;

//Font size:
$fontsize-header-1: 8rem;
$fontsize-header-2: 4rem;
$fontsize-header-3: 3rem;
$fontsize-form: 1.5rem;
$fontsize-paragraph: 1.6rem;

//Margin sizes:
$marginbottom-large: 6rem;
$marginbottom-medium: 4rem;
$marginbottom-small: 3rem;
